*{

    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;  
}

.navbar{

    display: flex;
    width: 100%;
    max-width: 1400px;
    padding: 10px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
 
}


 
.menu{


    position:absolute;
    transform: translateX(5000px);
      width: 60%;
     top: 0;
     bottom: 0;
     right: 0;
     background: rgb(254, 254, 254);
    box-shadow: 1px 1px 10px 1px rgba(16, 15, 15, 0.293);
    transition:  100ms ease-in-out ;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
   
    padding: 20px;
    
    
 }
 .changee {

    transform: translateX(0);
    transition:  100ms ease-in-out;
}


 .arr{

    display: flex;
    align-items: center;
    gap: 20px;
    color: grey;
    font-size: 16px;

 }
 .timg{


    width: 20px;
    height: 20px;
 }


 
 .sp{
    


    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 5px;
     
    
 }

 .spp{
     
    font-size: 20px;
 }

 

 .features { 
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    transition: .5s ease-in-out;
     
 
 }

 .company{

    margin-top: 20px;
   max-height: 0;
    overflow: hidden;
    transition: .5s ease-in-out;
   

 }
 .active{

    max-height:200px;
    overflow: none;
    margin-bottom: 20px;
    transition: .5s ease-in-out;
    
 }

 .rot , .rott{
    transition: .5s ease-in;
 }
 .activ{

    transform: rotate(180deg);
    transition: .5s ease-in;
 }

 .careers , .about{

    margin-bottom: 15px;
    color: grey;
 }

 .left  {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  
    color: rgb(164, 164, 164);
    min-height: auto;
}


.right{

    display:flex;
    flex-direction: column;
    gap: 20px;
  
}
 
.right h1 {

    text-align:center ;
    color:grey;
    font-size: 20px;
}
.right button{

    border: 2px solid grey;
    border-radius: 10px;
    background: none;
    font-size: 16px;
    color: grey;
    text-align:center ;
    padding: 5px 10px ;

}
 
 

 


 
 .bgcolor{

    background: rgba(16, 15, 15, 0.293);
    transition:  100ms ease-in-out ;
    
}


.icon{

    width: 30px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;


    

}


 .bar1 , .bar2 , .bar3 {


    width: 100%;
    height: 2px;
    background: black;
    
 
}


.change .bar1{

    transform: rotate(-45deg) translate(-8px, 8px)  ;
    
    transition: 100ms  ease-in-out;
    
}

.change .bar2{

    opacity: 0;
    transform: translateX(-32px);

    transition: 100ms  ease-in-out;
}

.change .bar3{

    transform: rotate(45deg) translate(-6px , -6px) ;
    
    transition: 100ms  ease-in-out;
}



section{

    margin-top: 20px;
}

.text{

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.desktop{

    display: none;
}
.mobile{

    width: 100%;


}

.text{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    text-align: center;
   
}
.text h1{

    color: black;
    font-weight: bolder;
    width: 100%;
 
    
}

.logos{

    display: flex;
    justify-content: center;align-items: center;
    gap: 10px;
}
.logos svg{

      width: 56px;
     
}
 

 
.learn{
    text-align: center;
     
    color: white;
    background: #000;
    padding: 15px 20px;
    border-radius:20px;
    font-size: 18px;
    font-weight: 500;
    width: fit-content;


}

@media only screen and (min-width: 426px) {

 
    .logos svg{

        width: 120px;
       height: 80px;
        
       
   }
   
   .logos{
    display: flex;
    justify-content: center;
    gap: 20px;
    
   }
   .text h1{

    font-size: 36px;
   }
   .text p{

    font-size: 25px;
   }

.text a {


    padding: 20px 36px;
}
   



  }





  
@media only screen and (min-width: 769px) {



    .navbar{

        
       
       width: 100%;
      
        background: white;
        justify-content:stretch; 
        margin-bottom: 100px;

        
    }
    body{

        background: white;
    }

.menu{

   position:static;
   
   flex-direction: row;
   background: none;
   transform: translate(0);
   box-shadow: none;
   justify-content: flex-end;
   
  gap: 200px;
   width: 90%;
  
   
    


 
   
   
}



.features ,.company {

    position: absolute;
    top: 80px;

    width: 160px;
    height: 140px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
     
    text-align: start;
    
 
    
    
}
.features span , .company h1{
    padding-left:20px ;
}
 
 

.active{

 
border-radius: 10px;
box-shadow: 1px 1px 10px 1px  grey;
 transition: 0.0s ease-in-out;

}
 



.snap{

     width: 100px;

}

 
.left {

    flex-direction:row;
    justify-content: flex-start;
    align-items:center; 
    margin: 0;
    padding: 0;
    gap: 10px;
    
  
}
.right{


    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.sp , .spp , .company ,.features , .arr , .timg , .careers , .about{

    margin: 0;
    padding: 0;
}

.icon{

    display: none;
}

.arr :hover ~ .features{

     overflow: none;
}







.hero {
 
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    gap: 80px;
    
    margin:0 auto ;
    max-width: 1200px;
 


  }


 


 

  .mobile{

    display:none;
  }


  .text{

    width: 50%;
    gap: 50px;
   text-align: start;
   justify-content: center;
   align-items: center;
   margin-top:0;

  }
  .text h1 {

    font-size: 48px;
  }
  .text p{

    font-size: 22px;
  }

.iamthe {
  background: white;
  border: 1px solid black;
  color: black;
  font-weight: 1000;
     
  }

  .photo{
    display: flex;
   justify-content: center;
   align-items: center;
  }

  .logos{


    width: 80%;
  }

  .desktop{

    display:inline;
    width: 100%;
    
  }

 
    
}

@media only screen and (min-width: 1023px) {






    .text h1{

        font-size: 80px;
    }

    .text p{

    letter-spacing: 2px;
    line-height:30px ;
    }
    .learn{
        font-size: 26px;
    }
    .activ svg{

        font-size: 80px;
    }

    .menu{
 
         gap: 500px;
    }

    .hero{

        padding: 50px;
    }

    .left{

        gap: 30px;
    }
}
 